# Build dirs
/Debug
/Release
/CFPlugin/Builds/VisualStudio2010/Debug
/CFPlugin/Builds/VisualStudio2010/Release
/build
/x64

# VS stuff
*.opensdf
*.sdf
*.user
/ipch

# Compiled Object files
*.suo
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Test related sutff
*.testdata
*.log
*.oni
