# Build dirs
/Debug
/CFPlugin/Builds/VisualStudio2010/Debug
/build
/x64

# VS stuff
*.opensdf
*.sdf
*.user
/ipch

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
